- if object.errors.any?
  .row
    .alert.alert-error.span8
      %h2
        = pluralize(object.errors.count, 'error')
        prohibited
        this from being save:
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg